h1,
h2,
h3,
h4,
p,
li {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #444;
}
/* footer p {
  font-size: 15px;
} */
h2,
h3 {
  color: #40657e;
}
h1 {
  font-size: 25px;
  text-transform: uppercase;
  font-style: normal;
  text-align: center;
  color: #e4e129;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;

  text-transform: uppercase;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 1.5;
}
li {
  font-size: 20px;
  line-height: 1.5;
}
/*article header p {
  font-style: italic;
}*/
#author {
  font-style: italic;
  font-size: 18px;
}
#Copyright {
  font-size: 16px;
}
.related-author {
  font-size: 18px;
  font-weight: bold;
}
.related {
  list-style: none;
}

.main-header {
  background-color: #f7f7f7;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #e4e129;
  border-bottom: 5px solid #e4e129;
}
